:root {
    --cor-preto: #090809;
    --cor-cinza: #26282A;
    --cor-cinza-alpha: #26282A90;
    --cor-vermelho: #E40712;
    --cor-azul-cinza: #5c7080;
    --cor-cinza-claro: #9ca5af;
    --cor-branco: #ffffff;
}