.modal-race {
    position: absolute;
    top:50%;
    left:50%;
    opacity: 0;
    z-index: -1;
    height: fit-content;
    width: fit-content;
    border: 1px solid var(--cor-card);
    background: var(--cor-card);
    border-radius: 10px;
    box-shadow: 1px 1px 20px var(--cor-preta-claro);
}

.modal-race:focus {
    outline: none;
}

.active {
    opacity: 1;
    z-index: 2;
    top: 50%;
    transform: translate(-50%, -50%);
    /* animation-name: slide;
    animation-duration: 0.5s; */
}

@keyframes slide {
    from { top: 0%; opacity: 0.1;}
    to { top: 50%; transform: translateY(50%); opacity: 1;}
}

.modal-race__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 5%;
    max-width: 600px;
    height: fit-content;
    gap: 1rem;
}

.container__title {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--cor-vermelho);
    font-size: 2rem;
    font-weight: 700;
}

.container__title-traits {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.container__title-traits--title {
    width: 100%;
    height: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-preto);
}

.container__title-traits--linha {
    height: 2px;
    width: 100%;
    background-color: var(--cor-vermelho);
}

.container__title-traits--desc {
    height: fit-content;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-preto);
}

.container__traits {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.container__traits-trait {
    height: fit-content;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-preto);
}

.button-close {
    height: 40px;
    display: grid;
    place-items: center;
    place-self: end;
    background-color: var(--cor-vermelho);
    padding: 6px 34px;
    border-radius: 5px;
    color: var(--cor-branco);
    border: none;
    font-size: 1rem;
}

.button-close:focus {
    outline: none;
}

.button-close:hover {
    cursor: pointer;
    background-color: var(--cor-azul-cinza);
    transition: 0.25s;
}